body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: rgb(244, 166, 166);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Stick No Bills', 'Roboto', Helvetica, sans-serif;
}

a:focus {
  outline: 2px solid black;
}

.site-header {
  font-size: 1.8rem;
  text-align: center;
}

p {
  margin-right: 350px;
}

h1 {
  margin: 0;
  padding-top: 1rem;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

img {
  width: 100%;
}

.main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.main-nav ul li {
  flex: 1;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: rgb(128, 34, 34);
  color: white;
}

.main-nav ul li a {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 1.25rem;
}

.main-nav ul li a:hover{
  text-decoration: underline;
  color: rgb(244, 166, 166);
}

.skip-links {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
  padding-bottom: 5px;
}

.skip-links a {
  text-decoration: none;
  font-size: .8rem;
  font-weight: 400;
  color: rgb(128, 34, 34);
  border: 2px solid rgb(128, 34, 34);
  padding: 4px;
}

form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  background: none;
  border: 2px solid black;
  padding: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.site-footer {
  padding: 2rem 0;
}